* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
#title {
  margin: 2%;
}
#text {
  padding: 2px;
  text-align: center;
  margin-top: 2%;
}
button,
#color {
  margin: auto;
  margin-top: 2.5%;
  cursor: pointer;
  border-radius: 5px;
  height: 60px;
  width: 150px;
  padding: 20px;
  overflow: hidden;
  text-align: center;
  border: 2.5px solid #ddd;
  background-color: #fff;
}
#color {
  cursor: default;
}
#go {
  margin-top: 0.1%;
  background-color: green;
  color: #fff;
  padding: 10px;
  height: 40px;
  width: 100px;
}
#start,
#end {
  display: none;
  background-color: red;
  color: #fff;
  height: 40px;
  width: 100px;
  padding: 10px;
}
#start {
  color: #fff;
  background-color: green;
}
#back {
  padding: 5px;
  width: 70px;
  height: 35px;
  border-radius: 30px 30px 30px 30px;
  /* position: absolute;
  left: 5px;
  top: 5px; */
  display: none;
}
